<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function submit(){
            var text;
            text = document.getElementById("tt").value;
            document.getElementById("nn").innerHTML =text;
        }
    </script>
</head>
<body>
    <label>Name</label>
    <input type="text" placeholder="name" id="tt">
    <button type="submit" onclick="submit()">Submit</button>
    <p id="nn"> </p>
</body>
</html>